<div class="container-fluid">
    <div class="row ">
        <div class="col-md-3 bg-primary  fs-3">
            <div>

                <select name="products" id="products" class="form-select form-select-lg my-3 bg-primary text-white">
                    <option selected>Product</option>
                    <option value=""><a routerLink="/" class="text-light text-decoration-none">getAll</a>
                    </option>
                    <option value=""><a routerLink="/" class="text-light text-decoration-none">getById</a>
                    </option>
                    <option value=""><a routerLink="/" class="text-light text-decoration-none">getByName</a>
                    </option>
                    <option value=""><a routerLink="/" class="text-light text-decoration-none">delete</a>
                    </option>
                </select>
            </div>
            <div>Products</div>
            <div>Products</div>
            <div>Products</div>
            <div>Products</div>
        </div>
        <div class="col-9"></div>
    </div>
</div>