@if (isLoading) {<app-spinner></app-spinner>}
<section class="container-fluid p-5">
  <div class="row text-center">
    <div class="col-12 m-4"><span class="fs-1">Cart</span></div>
  </div>
  <div class="row border border-4 border-light mx-auto w-75">
    @if (items.length>0) {
    @for (item of items; track item.id) {
    <div class="shadow rounded-5 ps-5 py-2 my-3">
      <div class="row bg-white p-2 text-center">
        <div class="col-md-5">Product</div>
        <div class="col-md-2">Price</div>
        <div class="col-md-3">Quantity</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
          <button (click)="deleteItem(item.productId)"
            class="fa-solid border-0 fs-3 fa-trash-can text-danger bg-light"></button>
        </div>
      </div>
      <hr class="fw-bolder mx-5">

      <div class="row bg-white  p-2">
        <div class="col-md-5">
          <div class="border border-2 w-50 border-light">
            <img src="assets/watch1.jpg" class="w-100">
          </div>

          <div class="w-75">
            <!-- <p class="fs-3">{{item.name}}</p>
                <p class="fs-6">{{item.description}}</p> -->
            <p> productId {{item.productId}}</p>
          </div>

        </div>
        <div class="col-md-2">1000</div>
        <div class="col-md-3">
          <div class="border border-light-subtle border-1 ">
            <div class="d-flex justify-content-between py-2 px-3 rounded-3">
              <button (click)="decQty(item.productId)" [disabled]="productQty==0"
                class="d-block border-0 bg-light fs-3 ">-</button>
              <span class="d-block fw-medium fs-2 "> {{item.quantity}}</span>
              <button (click)="incQty(item.productId)" class="d-block border-0 bg-light fs-3 ">+</button>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-2">1400</div> -->



      </div>
    </div>
    }
    <div class="row">
      <div class="text-center mt-5">
        <button class="btn btn-outline-primary rounded-3 w-75 btn-lg " routerLink="/checkout">Proceed to
          CheckOut</button>
      </div>
    </div>
    }

    @else {
    <section class="container mx-auto py-1">
      <div class="row w-75 mx-auto rounded-5 px-1 py-2">
        <div class="col-md-12 text-center">
          <h2>No items, please add some</h2>

        </div>
      </div>
    </section>
    }
  </div>
</section>