@if (isLoading) {<app-spinner></app-spinner>}
<section class="container-fluid p-5">
  <div class="row text-center">
    <div class="col-12 m-4">
      <h2 class="main-title  main-blue fw-medium text-center my-2">Cart</h2>
    </div>
  </div>
  <div class="row  mx-auto w-75">
    @if (items.length>0) {
    @for (item of items; track $index) {
    <div class="shadow rounded-5 ps-5 py-2 my-3">

      <div class="row bg-white p-2 text-center">
      </div>

      <div class="  p-2 d-flex justify-content-between align-content-center align-items-center">

        <div class="col-md-1 ">
          <button (click)="deleteItem(item.productId)" class="fa-solid border-0  fa-trash-can  circle"></button>
        </div>
        <div class="col-md-3 ">
          <div class="border border-3 w-50 border-light d-flex justify-content-between">
            <img src="assets/watch1.jpg" class="w-100">

          </div>



        </div>

        <div class="col-md-4 ">
          <h6 class="fs-3 main-blue">{{item.product.name}}</h6>
          <p class="fs-6">{{item.product.description}}</p>
        </div>


        <div class="col-md-2">
          <h5 class="fw-medium ">{{item.product.price}}</h5>
        </div>

        <div class="col-md-2">

          <div class="border border-light-subtle border-2 rounded-5  ">

            <div class="d-flex justify-content-between py-2 px-3 rounded-3">
              <button (click)="decQty(item.productId)" [disabled]="productQty==0"
                class=" d-block border-0   ">-</button>
              <span class="d-block fw-medium "> {{item.quantity}}</span>
              <button (click)="incQty(item.productId)" class="d-block border-0   ">+</button>
            </div>

          </div>
        </div>

      </div>
    </div>
    }
    <div class="row">
      <div class="text-center mt-5">
        <button class="btn btn-outline-primary rounded-3 w-75 btn-lg " routerLink="/checkout">Proceed to
          CheckOut</button>
      </div>
    </div>
    }

    @else {
    <section class="container mx-auto py-1">
      <div class="row w-75 mx-auto rounded-5 px-1 py-2">
        <div class="col-md-12 text-center">
          <h2>No items, please add some</h2>

        </div>
      </div>
    </section>
    }
  </div>
</section>