<section class="container-fluid bg-black p-3 mt-5">
  <div class="row">
    <div class="col-md-4">
      <div>
        <h5 class="text-white fs-6 my-2">Follow Us:</h5>
        <div class="box-icon d-inline-block px-3 py-2 rounded-3 hover-icon mx-1">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="box-icon d-inline-block px-3 py-2 rounded-3 hover-icon mx-1">
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="box-icon d-inline-block px-3 py-2 rounded-3 hover-icon mx-1">
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="box-icon d-inline-block px-3 py-2 rounded-3 hover-icon mx-1">
          <i class="fa-brands fa-tiktok"></i>
        </div>
      </div>

      <div>
        <h5 class="text-white fs-6  my-3">We Accept:</h5>
        <div class="row">

          <div class="col-md-3 my-3">
            <img src="assets/allPay.webp" alt="" width="250" />
          </div>

        </div>
      </div>
      <p class="text-white">Copyright © 2024 ITI All Rights Reserved.</p>
    </div>

    <div class="col-md-4">
      <div>
        <h4><img src="assets/Logo-1.png" alt="" class="w-25" /></h4>
        <p class="text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna fermentum aliqua.
          Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
          maecenas accumsan lacus vel facilisis.
        </p>
      </div>

      <div class="row text-white">
        <div class="col-md-3">
          <img src="assets/address-footer6.svg" alt="" class="w-50" />
        </div>
        <div class="col-md-9">
          <p>Call Us Now +123-456-789</p>
          <p>Email: infoexample.com</p>
        </div>
      </div>

      <div class="row text-white">
        <div class="col-md-3">
          <img src="assets/support.svg" alt="" class="w-50" />
        </div>
        <div class="col-md-9">
          <p>Miami Store Location :</p>
          <p>15 West 21th Street, Miami FL, USA</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          <h5 class="text-white fs-6">COMPANY INFO</h5>
          <h6 class="hover-text">About Us</h6>
          <h6 class="hover-text">Our Blog</h6>
          <h6 class="hover-text">Careers</h6>
          <h6 class="hover-text">Store Locations</h6>
          <h6 class="hover-text">Testimonial</h6>
          <h5 class="text-white fs-6">CUSTOMER CARE</h5>
          <h6 class="hover-text">FAQs</h6>
          <h6 class="hover-text">Terms of Service</h6>
          <h6 class="hover-text"> Privacy Policy</h6>
          <h6 class="hover-text">Contact Us</h6>
          <h6 class="hover-text">Gift Card</h6>
        </div>
        <div class="col-md-6">
          <h5 class="text-white fs-6">HELP & SUPPORT</h5>
          <h6 class="hover-text">Login</h6>
          <h6 class="hover-text">Register</h6>
          <h6 class="hover-text">Wishlist</h6>
          <h6 class="hover-text">Track Your Orders</h6>
          <h6 class="hover-text">Checkout</h6>
          <h5 class="text-white fs-6">HELP & SUPPORT</h5>
          <h6 class="hover-text">Shipping Info</h6>
          <h6 class="hover-text">Returns</h6>
          <h6 class="hover-text">How To Order</h6>
          <h6 class="hover-text">How To Track</h6>
          <h6 class="hover-text">Size Guide</h6>
        </div>
      </div>
    </div>
  </div>
</section>