<section class="container mx-auto  my-4 ">
  <div class="text-center w-50 mx-auto ">
    <h3 class="main-blue" >Track Your Order</h3>
    <p>To track your order please enter your Order ID in the box below and press the “Track” button. This was given to you on your receipt and in the confirmation email you should have received.</p>
    <img src="assets/order-tracking.png" alt="" class="w-100 ">
  </div>

  <div class="w-75 mx-auto" >
    <div class="d-flex justify-content-between">
      <h5>Product</h5>
      <h5>Total</h5>

    </div>
    <hr class="border  border-2 opacity-50">
    <div class="d-flex justify-content-between">
      <span>name of product</span>
      <span>350$</span>

    </div>
    <hr class="border  border-1 opacity-50">
    <div class="d-flex justify-content-between">
      <h6>Subtotal:</h6>
      <h6>350$</h6>

    </div>
    <hr class="border  border-1 opacity-50">
    <div class="d-flex justify-content-between">
      <h6>Shipping:</h6>
      <h6>10.00$ via flat rate </h6>

    </div>
    <hr class="border  border-1 opacity-50">
    <div class="d-flex justify-content-between">
      <h6>Payment method:</h6>
      <h6>Cash on delivery</h6>

    </div>
    <hr class="border  border-1 opacity-50">

    <div class="d-flex justify-content-between">

      <h5>Total</h5>
      <h5>360$</h5>

    </div>
  </div>




</section>
