<section class="w-75 mx-auto shadow-lg rounded-5 px-5 py-2 my-4 bg-main-light">
  <div class="text-center fs-2 ">
    <span class="main-blue fw-medium" > Register Now</span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="mb-2 form-item">
          <label for="userName" class="fw-medium">User Name</label>
          <input formControlName="userName" type="text" id="userName" class="form-control" />

          <div *ngIf="registerForm.get('userName')?.errors && registerForm.get('userName')?.touched">
            <p class="text-danger" *ngIf="registerForm.get('userName')?.getError('required')">Name is Required</p>
            <p class="text-danger" *ngIf="registerForm.get('userName')?.getError('minlength')">Name MinLength 3</p>
            <p class="text-danger" *ngIf="registerForm.get('userName')?.getError('maxlength')"> Name MaxLength 20</p>
          </div>
        </div>

        <div class="mb-2 form-item">
          <label for="email" class="fw-medium">Email</label>
          <input formControlName="email" type="email" id="email" class="form-control" />

          <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
            <p class="text-danger" *ngIf="registerForm.get('email')?.getError('required')">Email is Required</p>
            <p class="text-danger" *ngIf="registerForm.get('email')?.getError('email')">email invaild format </p>
          </div>
        </div>

        <div class="mb-2 form-item">
          <label for="password" class="fw-medium">Password</label>
          <input formControlName="password" type="password" id="password" class="form-control" />

          <div *ngIf="
            registerForm.get('password')?.errors &&
            registerForm.get('password')?.touched">
            <p class="text-danger" *ngIf="registerForm.get('password')?.getError('required')">
              password is Required
            </p>
            <p class="text-danger" *ngIf="registerForm.get('password')?.getError('pattern')">
              password must math pattern
            </p>
          </div>
        </div>

        <div class="mb-2 form-item">
          <label for="rePassword" class="fw-medium">confirm Password</label>
          <input type="password" id="rePassword" class="form-control" />

          <!-- <div *ngIf="
            registerForm.get('rePassword')?.errors &&
            registerForm.get('rePassword')?.touched">
            <p class="text-danger" *ngIf="registerForm.get('rePassword')?.getError('required')">
              repassword is Required
            </p>
            <p class="text-danger" *ngIf="registerForm.get('rePassword')?.getError('pattern')">
              repassword must math pattern
            </p>
          </div> -->
        </div>

        <div class="mb-2 form-item">
          <label for="phone"class="fw-medium" >Phone</label>
          <input formControlName="phone" type="tel" id="phone" class="form-control">

          <div *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched">
            <p class="text-danger" *ngIf="registerForm.get('phone')?.getError('required')">Phone is Required</p>
            <p class="text-danger" *ngIf="registerForm.get('phone')?.getError('pattern')"> "accept only egypt phone numbers"
            </p>
          </div>
        </div>

        <div class="mb-2 form-item">
          <label for="address" class="fw-medium" >Address</label>
          <input formControlName="address" type="text" id="address" class="form-control">
        </div>

        <button [disabled]="registerForm.invalid"
          class=" rounded mt-3 d-block ms-auto  btn btn-outline-primary w-100 my-4 ">
          Register <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
        </button>
      </form>

      <p *ngIf="errMsg" class="alert alert-danger p-1 w-50 mx-auto text-danger text-center">{{errMsg}}</p>
    </div>
    <div class="col-md-6">
      <img src="assets/Register.jpg" alt="" class="w-100 h-100">
    </div>
  </div>



</section>
