<div class="row my-5  ">
    <div class="col-3"></div>
    <div class="col-6 p-5 rounded rounded-5 shadow">
        <div class="text-center">
            <h3>Reset Password</h3>
        </div>
        <div class="mb-3">
            <label for="otp" class="form-label">Code</label>
            <input type="number" class="form-control" id="otp" [(ngModel)]="OneTP">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="text" class="form-control" id="password" [(ngModel)]="newPassword">
        </div>
        <div class="text-center">
            <button class="btn btn-outline-primary w-50" (click)="sentOTP()">Submit</button>
        </div>
    </div>
</div>