<div class="container my-5">
    <section class="shadow-lg w-50 mx-auto my-5 px-5 py-3">
        <h2 class=" text-center main-blue">Order Details </h2>
        <div class="card">
            <div class="card-header">
                order Id : <span class="fs-4 fw-bolder ">{{order.orderId}}</span>
            </div>
            <div class="card-body">
                <h5 class="card-title my-2 ">Client Information</h5>
                <div class="ms-3">
                    <p class="card-text"><span class="fw-medium main-blue">Name :</span> {{user.userName}}</p>
                    <p class="card-text"><span class="fw-medium main-blue">Email :</span> {{user.email}}</p>
                    <p class="card-text"><span class="fw-medium main-blue">Phone :</span> {{user.phone}}</p>
                </div>

                <h5 class="card-title my-3">Products Details</h5>
                <div class="row text-center mb-3 main-blue fw-medium">
                    <div class="col-4">Name</div>
                    <div class="col-4">Quantity</div>
                    <div class="col-4">Price</div>
                </div>

                <div class="row text-center">
                    @for (item of order.items; track $index) {
                    <div class="col-md-4">{{ item.productName }}</div>
                    <div class="col-md-4">{{ item.quantity }}</div>
                    <div class="col-md-4">{{ item.price | currency }}</div>

                    }
                </div>
                <h5 class="mt-3">Total Price : <span class="fw-bolder">{{order.totalAmount | currency}}</span></h5>
            </div>
        </div>
    </section>
</div>
