<div class="container my-5 ">
    <section class="shadow-lg w-50 mx-auto  py-3 px-4 ">
        <h3 class=" text-center main-blue">Order Details </h3>
        <div class="card">
            <div class="card-header">
                order Id : <span class="fs-4 fw-bolder">{{order.orderId}}</span>
            </div>
            <div class="card-body">
                <h5 class="card-title my-3 fw-bolder">Client Information</h5>
                <div class="ms-3">
                    <h5 class="card-text fw-medium"><span class="main-blue">Name:</span> {{user.userName}}</h5>
                    <h5 class="card-text fw-medium"><span class="main-blue">Email:</span>  {{user.email}}</h5>
                    <h5 class="card-text fw-medium"><span class="main-blue">Phone:</span>  {{user.phone}}</h5>
                </div>

                <h5 class="card-title my-3 fw-bolder">Products Details</h5>
                <div class="row text-center mb-3 main-blue fw-bolder">
                    <div class="col-4">Name</div>
                    <div class="col-4">Quantity</div>
                    <div class="col-4">Price</div>
                </div>

                <div class="row text-center">
                    @for (item of order.items; track $index) {
                    <div class="col-md-4">{{ item.productName }}</div>
                    <div class="col-md-4">{{ item.quantity }}</div>
                    <div class="col-md-4">{{ item.price | currency }}</div>

                    }
                </div>
                <h5 class="mt-3">Total Price <span class="fw-bolder fs-4">{{order.totalAmount+30 | currency}} </span></h5>
            </div>
        </div>
    </section>
</div>
