<section class="container my-3">

  <div class="shadow-lg p-5">
    <h3>Update Product</h3>
    <div class="row">
        <div class="col-md-6">

            <form [formGroup]="updateProductForm">
                <div class="mb-2 form-item"  >
                    <label for="name"> Name :</label>
                    <input formControlName="name" type="text" id="name" class="form-control"  [value]="" />

                    <div *ngIf="updateProductForm.get('name')?.errors && updateProductForm.get('name')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="updateProductForm.get('name')?.getError('required')">Name of Product is
                            Required</p>
                    </div>


                </div>
                <div class="mb-2 form-item">
                    <label for="description"> description :</label>
                    <textarea formControlName="description" class="description" id="description"
                        class="form-control"></textarea>



                </div>

                <div class="mb-2 form-item">
                    <label for="price"> price :</label>
                    <input formControlName="price" type="number" id="price" class="form-control" />


                    <div *ngIf="updateProductForm.get('price')?.errors && updateProductForm.get('price')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="updateProductForm.get('price')?.getError('required')">Number of price is
                            Required</p>
                    </div>

                </div>

                <div class="mb-2 form-item">
                    <label for="stockQuantity"> stockQuantity :</label>
                    <input formControlName="stockQuantity" type="number" id="stockQuantity" class="form-control" />


                    <div *ngIf="updateProductForm.get('stockQuantity')?.errors && updateProductForm.get('stockQuantity')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="updateProductForm.get('stockQuantity')?.getError('required')">Number of
                            stockQuantity is Required</p>
                    </div>

                </div>

                <div class="mb-2 form-item">
                    <label for="category"> category :</label>
                    <input formControlName="categoryId" type="number" id="category" class="form-control" />
                    <div *ngIf="updateProductForm.get('category')?.errors && updateProductForm.get('category')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="updateProductForm.get('category')?.getError('required')">Name of category is
                            Required</p>
                    </div>
                </div>

                <div class="mb-2 form-item">
                    <label for="brands"> brands :</label>
                    <input formControlName="brandId" type="number" id="brands" class="form-control" />
                    <div *ngIf="updateProductForm.get('brands')?.errors && updateProductForm.get('brands')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="updateProductForm.get('brands')?.getError('required')">Name of brands is
                            Required</p>
                    </div>
                </div>



                <button class="rounded mt-3 d-block ms-auto btn btn-outline-primary "> Update
                    Product </button>


            </form>


        </div>
        <div class="col-md-6">
            <img src="assets/update.jpg" alt="" class="w-100 h-75 my-5">
        </div>
    </div>
  </div>


</section>
