<section class="container my-3">

    <div class="shadow-lg p-5">
        <h3>Update Brand</h3>
        <div class="row">
            <div class="col-md-6">

                <form [formGroup]="updateBrandForm">

                    <div class="mb-2 form-item">
                        <label for="category"> Brand :</label>
                        <input formControlName="name" type="text" id="Brand" class="form-control" />
                    </div>
                    <button class="rounded mt-3 d-block ms-auto btn btn-outline-primary "> Update
                        Brand </button>
                </form>


            </div>
            <div class="col-md-6">
                <img src="assets/update.jpg" alt="" class="w-100  ">
            </div>
        </div>
    </div>


</section>