<section class="container mx-auto py-5">
  <div class="row w-75 mx-auto  border border-3 border-light-subtle rounded-5 px-1 py-2">
    <div class="col-md-3">
      <img src="assets/watch1.jpg" alt="" class="w-75 rounded">
    </div>
    <div class="col-md-6">
      <h6>
        Vinova Bluetooth Wireless Speaker Mega Bass</h6>
        <span>$140.00</span>

    </div>
    <div class="col-md-2 ">
      <button class="btn  btn-primary rounded-5">Add To Cart</button>

    </div>

  </div>
</section>
