@if (isLoading) {<app-spinner></app-spinner>}
<div class="my-5">
  <div class="row text-center">
    <div class="col-12 m-4"><span class="fs-1">Wishlist</span></div>
  </div>
  @if(wishlistItems.length>0){
  @for (item of wishlistItems; track item.id) {
  <section class="container mx-auto py-1">
    <div class="row mx-auto shadow rounded-5 p-3 my-2">
      <div class="col-md-3">
        <img src="assets/watch1.jpg" alt="" class="w-75 rounded">
      </div>
      <div class="col-md-7">
        <h1>{{item.product.name}}</h1>
        <p>{{item.product.price}}</p>
        <p>{{item.product.description}}</p>
      </div>
      <div class="col-md-2 ">
        <button class="fa-solid border-0 fs-3 fa-cart-plus bg-light me-2"></button>
        <button (click)="removeItemFromList(item.productId)"
          class="fa-solid border-0 fs-3 fa-trash-can text-danger bg-light"></button>
      </div>

    </div>
  </section>
  }
  }
  @else {
  <section class="container mx-auto py-1">
    <div class="row w-75 mx-auto rounded-5 px-1 py-2">
      <div class="col-md-12 text-center h-100">
        <h2>No items, please add some</h2>

      </div>
    </div>
  </section>


  }
</div>