@if (isLoading) {<app-spinner></app-spinner>}
<div class="my-5">
  <div class="row text-center">
    <div class="col-12 m-4"><span class="fs-1">Wishlist</span></div>
  </div>
  @if(wishlistItems.length>0){
  @for (item of wishlistItems; track item.id) {
  <section class="container mx-auto py-1">
    <div class="row w-75 mx-auto  border border-3 border-light-subtle rounded-5 px-1 py-2">
      <div class="col-md-3">
        <img src="assets/watch1.jpg" alt="" class="w-75 rounded">
      </div>
      <div class="col-md-6">
        <h1>{{item.product.name}}</h1>
        <p>{{item.product.price}}</p>
        <p>{{item.product.description}}</p>
      </div>
      <div class="col-md-2 ">
        <button class="btn w-100 btn-primary my-1 rounded-5">Add To Cart</button>
        <button (click)="removeItemFromList(item.productId)" class="btn w-100 my-1 btn-danger rounded-5">remove</button>
      </div>

    </div>
  </section>
  }
  }
  @else {
  <section class="container mx-auto py-1">
    <div class="row w-75 mx-auto rounded-5 px-1 py-2">
      <div class="col-md-12 text-center h-100">
        <h2>No items, please add some</h2>

      </div>
    </div>
  </section>


  }
</div>