<div class="container">
    @if (orderList) {
    <section class="shadow p-5 m-5 w-75 mx-auto">
        <h2 class="text-center mb-5">Orders List</h2>
        <table class="table ">
            <thead class="thead-light">
                <tr>
                    <th>Order Id</th>
                    <th>Total Price</th>
                    <th>Details</th>
                    <th>Track</th>
                </tr>
            </thead>
            <tbody>
                @for (order of orderList; track order.orderId) {
                <tr>
                    <td>{{order.orderId}}</td>
                    <td> {{order.totalAmount}}</td>
                    <td><a class="btn btn-outline-dark border-0" (click)="goToDetails(order.orderId)">Details</a></td>
                    <td><a class="btn btn-outline-dark border-0" (click)="goToTrack(order.orderId)">Track</a></td>
                </tr>
                @for (item of order.items; track $index) {


                }
                }
            </tbody>
        </table>

    </section>
    }

    @else{
    <section class="shadow p-5 m-5 w-75 mx-auto">
        <h2 class="text-center mb-5">No Orders</h2>
    </section>

    }
</div>