@if (isLoading) {<app-spinner></app-spinner>}
<section role="button" class="container-fluid bg-light my-4 py-2">
  <h2 class="main-title  main-blue fw-medium text-center my-2">All Products</h2>
  <div class="row my-3 mx-auto ">

    <div class="input-group my-3">
      <div class="form-outline w-50 mx-auto row g-0">
        <div class="col-md-10">
          <input type="search" id="form1" class="form-control border border-3" [(ngModel)]="searchInput" />
        </div>
        <div class="col-md-2">

          <button type="button" class="btn btn-secondary" (click)="search()">
            <i class="fas fa-search"></i>
          </button>
        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-4 rounded-5" *ngFor="let prod of products | paginate: { itemsPerPage: 3, currentPage: page }">
      <div class="card  shadow-lg p-3 rounded-5 " style="max-width: 540px ;">
        <div class="row ">
          <div class="col-md-4 py-5">
            <img [src]="mainSrc" class="card-img-top" (mouseover)="changeImage()" (mouseout)="resetImage()" />
          </div>
          <div class="col-md-8 ">
            <div class="row my-2">
              <section class=" text-end mb-3 ">
                <i [ngClass]="{'fa-solid text-danger': isInWishlist(prod.id)}" (click)="addToWhishlist(prod)"
                  class="fa-regular fa-heart fa-2xl redHover"></i>
              </section>
            </div>
            <div class="card-body  ">
              <div class="d-flex justify-content-between">
                <div>
                  <h6 class="card-title fw-medium fs-4">{{prod.name}}</h6>
                  <p class="card-text">
                    <small class="text-body-secondary fs-5"> {{ prod.price | currency:'USD' }} </small>
                  </p>
                  <p class="card-text my-3" >
                    <small class="text-body-secondary">{{prod.description}}</small>
                  </p>
                </div>

              </div>

              <div class="d-flex justify-content-between">
                <div>
                  <button (click)="addToCart(prod)" class="btn btn-primary " type="button">
                    Add To Cart <i class="fa-solid text-dark fa-cart-plus fa-2 text-white "></i>
                  </button>
                </div>

                    <div>
                      <button routerLink="{{prod.id}}" class="btn btn-outline-primary btn-sm  my-1">Details
                        <i class="fa-solid fa-arrow-right"></i>
                      </button>

                    </div>
              </div>











            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row text-center py-3 mt-3">
    <pagination-controls (pageChange)="page = $event"></pagination-controls><br><br><br><br>
  </div>
</section>

<!-- <h1>{{products[0].Name}}</h1> -->
