<!-- main slider -->
<section class="container-fluid bg-light mt-3">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="assets/slide5-1-scaled.jpg" height="300px" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="assets/slide5-2-scaled.jpg" height="300px" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="assets/slide5-3-scaled.jpg" height="300px" />
    </ng-template>
  </owl-carousel-o>
</section>

<!-- slider catagories -->
<section class="container-fluid bg-white my-2 catagories">
  <owl-carousel-o [options]="customOptionsCatgories">
    <ng-template carouselSlide>
      <div class="row gx-3">
        <div class="col-md-2  image-container">
          <div class="card py-4 shadow-lg d-flex flex-column align-content-between slider-hight">

            <img src="assets/cat-1.webp" class="card-img-top w-25 mx-auto  hover-image" alt="...">


            <div class="card-body text-center">
              <h5 class="card-text">Tablet</h5>
            </div>
          </div>
        </div>


        <div class="col-md-2  image-container">
          <div class="card py-4 shadow-lg d-flex flex-column align-content-between  slider-hight ">
            <img src="assets/cat-2.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">Smart Phone</h5>
            </div>
          </div>
        </div>


        <div class="col-md-2  image-container ">
          <div class="card py-4 shadow-lg slider-hight ">
            <img src="assets/cat-3.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">Game Console</h5>
            </div>
          </div>
        </div>


        <div class="col-md-2  image-container ">
          <div class="card py-4 shadow-lg  slider-hight ">
            <img src="assets/cat-4.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">Camera</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2 image-container ">
          <div class="card py-4 shadow-lg slider-hight ">
            <img src="assets/cat-5.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">SmartWatch</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2 image-container ">
          <div class="card py-4 shadow-lg  slider-hight">
            <img src="assets/cat-6.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">Drone & Flycam</h5>
            </div>
          </div>
        </div>


      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="row gx-3">

        <div class="col-md-2  image-container">
          <div class="card py-4 shadow-lg  slider-hight">
            <img src="assets/cat-3.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">Game Console</h5>
            </div>
          </div>
        </div>


        <div class="col-md-2  image-container">
          <div class="card py-4 shadow-lg  slider-hight">
            <img src="assets/cat-4.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">Camera</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2  image-container">
          <div class="card py-4 shadow-lg  slider-hight">
            <img src="assets/cat-5.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">SmartWatch</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2  image-container">
          <div class="card py-4 shadow-lg slider-hight ">
            <img src="assets/cat-6.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">Drone & Flycam</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2  image-container">
          <div class="card py-4 shadow-lg  slider-hight">
            <img src="assets/cat7.webp" class="card-img-top w-25 mx-auto hover-image" alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">Audio</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2  image-container">
          <div class="card py-4 shadow-lg slider-hight ">
            <img src="assets/cat-8.webp" class="card-img-top w-25 mx-auto hover-image " alt="...">
            <div class="card-body text-center">
              <h5 class="card-text">Computer</h5>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
  </owl-carousel-o>

  <!-- <div class="row">
    <div class="col-md-6">
      <div class="row">

    <div class="col-md-3 ">
      <div class="card p-1 " >
        <img src="assets/slide5-1-scaled.jpg"  class="w-100 mx-auto"  alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Tablet</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="card p-1 " >
        <img src="assets/slide5-1-scaled.jpg"  class="w-100 mx-auto"  alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Phone </h5>
        </div>
      </div>
    </div>


    <div class="col-md-3 ">
      <div class="card " >
        <img src="assets/slide5-1-scaled.jpg"  class="w-75 mt-2 mx-auto rounded-1"  alt="...">
        <div class="card-body">
          <h5 class="card-title text-center fw-medium fs-3">sound</h5>
        </div>
      </div>
    </div>
      </div>


    </div>


  </div> -->
</section>

<!-- products -->
<section role="button" class="container-fluid bg-light">
  <h2 class="main-title py-5">Deals of The Day</h2>

  <div class="row">
    <div class="col-md-4 rounded-5">
      <div class="card mb-3 shadow-lg p-3 rounded-5" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4 py-5">
            <img [src]="mainSrc" class="card-img-top" (mouseover)="changeImage()" (mouseout)="resetImage()" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="my-3">
                <i class="fa-solid fa-heart fa-2xl d-flex justify-content-end"></i>
              </div>

              <h5 class="card-title">Name of product</h5>
              <p class="card-text">smart of</p>
              <p class="card-text">
                <small class="text-body-secondary">Price 1111</small>
              </p>
              <button class="btn btn-primary w-100" type="button">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid text-center">
  <div class="row">
    <div class="col-md-2">
      <div class="card" style="width: 18rem">
        <img src="assets/slide5-1-scaled.jpg" class="card-img-top" alt="..." />

        <div class="card-body">
          <h5>Smartphone</h5>
          <h6 class="text-secondary">Apple</h6>
          <h6 class="text-secondary">Apple</h6>
          <h6 class="text-secondary">Apple</h6>
          <h6 class="text-secondary">Apple</h6>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- boy and girl -->
<section class="container-fluid">
  <div class="row gx-3">
    <div class="col-md-6">
      <div class="back-img1 rounded-5">
        <img src="assets/home6-banner-3.jpg" class="w-100">

      </div>

    </div>
    <div class="col-md-6">
      <div class="back-img2 rounded-5">
        <img src="assets/home6-banner-4.jpg" class="w-100">


      </div>

    </div>
  </div>

</section>


<section class="container-fluid my-4">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card">
        <img src="assets/blognew-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Eleifend augue volutpat in tincidunt nisla interdum facilisis vivamus</p>
          <p>Duis commodo faucibus lectus, et accumsan quam egestas at. Praesent eros mi, condimentum sit amet felis
            quis, hendrerit ullamcorper turpis...
            By admin
            18th Apr 2024</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
    <div class="col-md-6 my-5">
      <div class="row g-3">

        <div class="card mb-3">
          <div class="row g-3">
            <div class="col-md-4">
              <img src="assets/blognew-2-600x600.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/blognew-3-600x600.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>

</section>