<div class="product-dashboard">
  <div class="d-flex justify-content-between">

    <h2 class="fs-2 fw-bolder my-4">category Dashboard</h2>

    <button [routerLink]="['/dashboard/ViewAllCategory/addCategory']" type="button"
      class="btn text-white fw-bolder fs-5 p-3  rounded-3" style="background-color:#2a2185 ;"> Add New Category</button>

  </div>


  <div *ngIf="loading">Loading categories...</div>

  <div *ngIf="error" class="error-message">{{ error }}</div>

  <table *ngIf="!loading && !error && categories.length > 0" class="w-50 mx-auto">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>

    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>


        <td>
          <button type="button" class="btn btn-coral mx-2" (click)="deleteCategory(category.id)"> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && !error && categories.length === 0">
    No categories found.
  </div>
</div>