
<div class="product-dashboard">
  <div class="d-flex justify-content-between ">

    <h2 class="fs-2 fw-bolder my-4">Brands Dashboard</h2>

    <button [routerLink]="['/dashboard/ViewAllBrand/addBrand']"   type="button" class="btn text-white fw-bolder fs-5 p-3  rounded-3" style="background-color:#2a2185 ;"> Add New Brand</button>

  </div>


  <div *ngIf="loading">Loading Brands...</div>

  <div *ngIf="error" class="error-message">{{ error }}</div>

  <table *ngIf="!loading && !error && Brands.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Brand  of Brands">
        <td>{{ Brand.id }}</td>
        <td>{{ Brand.name }}</td>
        <td>{{ Brand.category }}</td>

        <td>
          <button type="button" class="btn btn-blue  mx-2" [routerLink]="['/dashboard/ViewAllBrand/updateBrand/', Brand.id]" > Update</button>

          <button type="button" class="btn btn-coral mx-2"  > Delete</button>




        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && !error && Brands.length === 0">
    No Brands found.
  </div>
</div>

