<section class="container my-3">
<div class="shadow-lg p-5">
  <h3>Add New Category</h3>
  <div class="row">
      <div class="col-md-6">

          <form [formGroup]="addCategoryForm" >
              <div class="mb-2 form-item">
                  <label for="name"> Name :</label>
                  <input formControlName="name" type="text" id="name" class="form-control" />


                  <div *ngIf="addCategoryForm.get('name')?.errors && addCategoryForm.get('name')?.touched"
                      class="alert alert-danger p-1  small w-50 mx-auto">
                      <p class="mb-0" *ngIf="addCategoryForm.get('name')?.getError('required')">Name of Category is
                          Required</p>
                  </div>
              </div>


              <div class="mb-2 form-item">
                <label for="brands"> brands :</label>
                <input formControlName="brandId" type="number" id="brands" class="form-control" />
                <div *ngIf="addCategoryForm.get('brands')?.errors && addCategoryForm.get('brands')?.touched"
                    class="alert alert-danger p-1  small w-50 mx-auto">
                    <p class="mb-0" *ngIf="addCategoryForm.get('brands')?.getError('required')">Name of brands is
                        Required</p>
                </div>
            </div>


            <button (click)="addCategory()" class="rounded mt-3 d-block ms-auto btn btn-outline-success ">Add New
              Category </button>


          </form>


      </div>
      <div class="col-md-6">
        <img src="assets/category.webp" alt="" class="w-100">
      </div>
  </div>
</div>

</section>
