<section class="container my-5">
    <h3>Add New Products</h3>
    <div class="row">
        <div class="col-md-6">

            <form [formGroup]="addProductForm">
                <div class="mb-2 form-item">
                    <label for="name"> Name :</label>
                    <input formControlName="name" type="text" id="name" class="form-control" />

                    <div *ngIf="addProductForm.get('name')?.errors && addProductForm.get('name')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="addProductForm.get('name')?.getError('required')">Name of Product is
                            Required</p>
                    </div>


                </div>
                <div class="mb-2 form-item">
                    <label for="description"> description :</label>
                    <textarea formControlName="description" class="description" id="description"
                        class="form-control"></textarea>


                    <!-- <div *ngIf="addProductForm.get('description')?.errors && addProductForm.get('description')?.touched" class="alert alert-danger p-1  small w-50 mx-auto">
              <p class="mb-0" *ngIf="addProductForm.get('description')?.getError('required')">Name of description is Required</p>
            </div> -->


                </div>

                <div class="mb-2 form-item">
                    <label for="price"> price :</label>
                    <input formControlName="price" type="number" id="price" class="form-control" />


                    <div *ngIf="addProductForm.get('price')?.errors && addProductForm.get('price')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="addProductForm.get('price')?.getError('required')">Number of price is
                            Required</p>
                    </div>

                </div>

                <div class="mb-2 form-item">
                    <label for="stockQuantity"> stockQuantity :</label>
                    <input formControlName="stockQuantity" type="number" id="stockQuantity" class="form-control" />


                    <div *ngIf="addProductForm.get('stockQuantity')?.errors && addProductForm.get('stockQuantity')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="addProductForm.get('stockQuantity')?.getError('required')">Number of
                            stockQuantity is Required</p>
                    </div>

                </div>

                <div class="mb-2 form-item">
                    <label for="category"> category :</label>
                    <input formControlName="categoryId" type="number" id="category" class="form-control" />
                    <div *ngIf="addProductForm.get('category')?.errors && addProductForm.get('category')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="addProductForm.get('category')?.getError('required')">Name of category is
                            Required</p>
                    </div>
                </div>

                <div class="mb-2 form-item">
                    <label for="brands"> brands :</label>
                    <input formControlName="brandId" type="number" id="brands" class="form-control" />
                    <div *ngIf="addProductForm.get('brands')?.errors && addProductForm.get('brands')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="addProductForm.get('brands')?.getError('required')">Name of brands is
                            Required</p>
                    </div>
                </div>


                <!--
          <div class="mb-2 form-item">
  
            <label for="category"> category :</label>
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
  
          </div> -->

                <!-- <div class="mb-2 form-item">
  
            <label for="brands"> brands :</label>
            <select class="form-select" aria-label="Default select example">
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
  
          </div> -->
                <button (click)="addProduct()" class="rounded mt-3 d-block ms-auto btn btn-outline-success ">Add New
                    Product </button>


            </form>


        </div>
        <div class="col-md-6">
            <img src="assets/addProduct.png" alt="" class="w-100">
        </div>
    </div>

</section>