<div class="container"></div>
  <div class="navigation" [class.active]="isNavigationActive">
    <ul>
      <li *ngFor="let item of navigationItems">
        <a href="#">
          <span class="icon">
            <i [class]="item.icon"></i>
          </span>
          <span class="title">{{ item.title }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main" [class.active]="isNavigationActive">
    <div class="topbar">
      <div class="toggle" (click)="toggleNavigation()">
        <i class="fa-solid fa-lines-leaning"></i>
      </div>
    </div>
    <!-- Add your main content here -->
  </div>
</div>
