.main-btn-blue-hover:hover {
    background-color: #1395E8;
    color: white;
    border:none

}

.circle {
    width: 60px;
    height: 45px;


    border: 2px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;



}

.main-circle-hover:hover {
    color: #1395E8;
    background-color: #EDEDED;

    border-radius: 50%;
}

.star {
    font-size: 35px;
    color: gray;
    cursor: pointer;
}

.filled {
    color: gold;
}
