<section class="container  p-5 my-5 ">
    <div class="row g-5  ">
        <div class="col-md-4 ">
            <div class="border border-light-subtle border-1">
                <img src="assets/watch1.jpg" class="w-100 " />
            </div>
        </div>
        <div class="col-md-8 ">
            <h4 class="py-2">{{prodcut.name}}</h4>

            <span>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </span>

            <h3 class="py-2">{{prodcut.price}}$</h3>

            <p>{{prodcut.description}}</p>

            <div class="row py-4">
                <!-- <div class="col-md-4">

                    <div class="border border-light-subtle border-1 ">
                        <div class="d-flex justify-content-between py-2 px-3 rounded-3">
                            <span class="d-block fw-medium circle main-circle-hover">-</span>
                            <span class="d-block fw-medium  "> 1</span>
                            <span class="d-block fw-medium  circle main-circle-hover">+</span>
                        </div>


                    </div>
                </div> -->
                <div class="col-md-4">
                    <button class="btn w-100 py-2 btn-outline-primary">Add To Cart</button>

                </div>
                <div class="col-md-4">
                    <button class="btn w-100 py-2 btn-outline-info" routerLink="/addreview/{{prodID}}">Add
                        Review</button>

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 ">
                    <div class=" border-1 py-2 px-2 rounded-3 w-75 text-center">
                        <i class="fa-regular fa-heart fa-xl"></i>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-outline-primary main-btn-blue-hover   w-100 ">Buy it
                        Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>