<section class="container p-5  my-5 ">
    <div class="row g-3 shadow-lg   rounded-5  w-75 mx-auto px-5 py-3">
      <h3 class="main-title  main-blue fw-medium text-center ">Details of Product </h3>
        <div class="col-md-4 ">
            <div class="border border-light-subtle border-2 rounded-4 p-2 text-center">
                <img src="assets/watch1.jpg" class="w-100" />
            </div>
        </div>
        <div class="col-md-8 ">
            <h4 class="py-2 fw-medium">{{prodcut.name}}</h4>
            <h6 class="py-2">{{prodcut.price}}$</h6>

            <p>{{prodcut.description}}</p>

            <div class="row py-4">
                <div class="col-md-5">
                    <button (click)="addToCart()" class="btn w-100 py-2 btn-primary">Add To Cart <i class="fa-solid fa-cart-plus"></i> </button>

                </div>
                <div class="col-md-5">
                    <button class="btn w-100 py-2 btn-outline-primary" routerLink="/addreview/{{prodID}}">Add
                        Review
                        <i class="fa-regular fa-comment"></i></button>

                </div>
                <div class="col-md-2  ">
                  <div class="circle rounded-2  main-btn-blue-hover">
                    <i (click)="addToWishlist()" [ngClass]="heartStyle" class="fa-solid fa-heart fa-2xs "></i>

                  </div>



                </div>
            </div>
        </div>
    </div>

    @if(reviews.length > 0){
    <div class="row mt-5">
        <h2 class="text-center">Product Reviews</h2>
        @for (review of reviews; track $index) {

        <section class="w-75 mx-auto my-3 shadow p-3">
            Comment:<span class="fs-3 ms-4 mb-5">{{review.comment}}</span><br>
            <span class="me-5">Rating:</span><ng-container *ngFor="let star of stars; let i = index">
                <span class="star" [ngClass]="{'filled': i < review.rating}">★</span>
            </ng-container>
        </section>
        }
    </div>
    }
</section><br>
<br><br>
