<section class="container my-3">

  <div class="shadow-lg p-5">
    <h3>Update category</h3>
    <div class="row">
        <div class="col-md-6">

            <form >








                <div class="mb-2 form-item">
                    <label for="brands"> brands :</label>
                    <input formControlName="brandId" type="number" id="brands" class="form-control" />
                    <!-- <div *ngIf="updateBrandForm.get('brands')?.errors && updateBrandForm.get('brands')?.touched"
                        class="alert alert-danger p-1  small w-50 mx-auto">
                        <p class="mb-0" *ngIf="updateBrandForm.get('brands')?.getError('required')">Name of brands is
                            Required</p>
                    </div> -->
                </div>


                <div class="mb-2 form-item">
                  <label for="category"> category :</label>
                  <input formControlName="categoryId" type="number" id="category" class="form-control" />
                  <!-- <div *ngIf="updateBrandForm.get('category')?.errors && updateBrandForm.get('category')?.touched"
                      class="alert alert-danger p-1  small w-50 mx-auto">
                      <p class="mb-0" *ngIf="updateBrandForm.get('category')?.getError('required')">Name of category is
                          Required</p>
                  </div> -->
              </div>


                <button class="rounded mt-3 d-block ms-auto btn btn-outline-primary " > Update
                    Product </button>


            </form>


        </div>
        <div class="col-md-6">
            <img src="assets/update.jpg" alt="" class="w-100  ">
        </div>
    </div>
  </div>


</section>

