<div class="row my-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 p-5 rounded rounded-5 shadow">
        <div class="mb-3 text-center">
            <label for="email" class="form-label fs-3 ">Email address</label>
            <input type="email" required class="form-control my-2" id="email" [(ngModel)]="toAddress">
        </div>
        <div class="text-center">
            <button class="btn btn-outline-primary w-50" [disabled]="!toAddress" (click)="sendMail()">Submit</button>
        </div>
    </div>
</div>