

<section class="w-50 mx-auto shadow rounded p-4 my-3 bg-main-light">
  <h1>Login Now</h1>

  <form [formGroup]="loginForm" (ngSubmit)="handleForm()">

    <div class="mb-2 form-item">
      <label for="name">userName :</label>
      <input
        formControlName="userName"
        type="text"
        id="userName"
        class="form-control"
      />

      <div *ngIf="loginForm.get('userName')?.errors && loginForm.get('userName')?.touched" class="alert alert-danger p-1  small w-50 mx-auto">
        <p class="mb-0" *ngIf="loginForm.get('userName')?.getError('required')">Name is Required</p>
        <p class="mb-0" *ngIf="loginForm.get('userName')?.getError('minlength')" >Name MinLength 3</p>
        <p class="mb-0" *ngIf="loginForm.get('userName')?.getError('maxlength')" > Name MaxLength 20</p>
      </div>


    </div>


    <!-- <div class="mb-2 form-item">
      <label for="email">Email :</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="form-control"/>

        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger p-1  small w-50 mx-auto">
          <p class="mb-0" *ngIf="loginForm.get('email')?.getError('required')">Email is Required</p>
          <p class="mb-0" *ngIf="loginForm.get('email')?.getError('email')" >email invaild format </p>
        </div>
    </div> -->



    <div class="mb-2 form-item">
      <label for="password">Password :</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        class="form-control"
      />

      <div
      *ngIf="
        loginForm.get('password')?.errors &&
        loginForm.get('password')?.touched
      "
      class="alert alert-danger p-1 w-50 mx-auto"
    >
      <p *ngIf="loginForm.get('password')?.getError('required')">
        password is Required
      </p>
      <p *ngIf="loginForm.get('password')?.getError('pattern')">
        password must math pattern
      </p>
    </div>


    </div>





        <button class=" rounded mt-3 d-block ms-auto  btn btn-outline-dark ">
          Login
        </button>







  </form>

</section>
