<section class="container p-5">
<div class="row">
  <div class="col-md-6">
    <div class="mb-2 form-item">
      <label for="firstName">First Name :</label>
      <input formControlName="firstName" type="text" id="firstName" class="form-control"/>
    </div>
  </div>

  <div class="col-md-6">
    <div class="mb-2 form-item">
      <label for="lastName">Last Name :</label>
      <input formControlName="lastName" type="text" id="lastName" class="form-control"/>
    </div>
  </div>

  <div class="col-md-12">
    <div class="mb-2 form-item">
      <label for="displayName">Display Name:</label>
      <input formControlName="displayName" type="text" id="displayName" class="form-control"/>
    </div>
  </div>
  <div class="col-md-12">
    <div class="mb-2 form-item">
      <label for="emailAddress">Email Address:</label>
      <input formControlName="emailAddress" type="text" id="emailAddress" class="form-control"/>
    </div>
  </div>

</div>
</section>
