/* You can add global styles to this file, and also import other style files */


@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

::-webkit-scrollbar{
  width: 15px;
  height: 20px;
}
::-webkit-scrollbar-track{
  background-color: gray;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #09c;
}

