<div class="row my-5">
    <div class="col-3"></div>
    <div class="col-6 p-5 rounded rounded-5 shadow">
        <div class="row fs-3 text-center m-3"><span>Change Password</span></div>
        <div class="mb-3">
            <label for="current">current password</label>
            <input type="text" class="form-control" id="current" [(ngModel)]="CurrentPassword"><br>
        </div>
        <div class="mb-3 ">
            <label for="new">new password</label>
            <input type="text" class="form-control" id="new" [(ngModel)]="NewPassword"><br>
        </div>

        <div class="text-center">
            <button class="btn btn-info text-center w-50" (click)="changePassword()">Change</button>
        </div>
    </div>
</div>