<section class="container my-5 ">
  <div class="row">
    <div class="col-md-7">
      <div class="row fs-3">
        <h4 class="main-blue">Billing Details</h4>
      </div>

      <form [formGroup]="billingForm">
        <div class="mb-2 form-item">
          <label for="firstName">First Name <span class="text-danger">*</span> </label>
          <input formControlName="firstName" type="text" id="firstName" class="form-control" />
        </div>

        <div class="mb-2 form-item">
          <label for="lastName">Last Name <span class="text-danger">*</span></label>
          <input formControlName="lastName" type="text" id="lastName" class="form-control" />
        </div>

        <div class="mb-2 form-item">
          <label for="companyName">Company Name </label>
          <input formControlName="companyName" type="text" id="companyName" class="form-control" />
        </div>

        <div class="mb-2 form-item">
          <label for="Country">Country <span class="text-danger">*</span></label>
          <input formControlName="country" type="text" id="Country" class="form-control" />
        </div>

        <div class="mb-2 form-item">
          <label for="streetAddress">Street Address <span class="text-danger">*</span></label>
          <input formControlName="streetAddress" type="text" id="streetAddress" class="form-control" />
        </div>

        <div class="mb-2 form-item">
          <label for="twonCity ">Twon City <span class="text-danger">*</span></label>
          <input formControlName="townCity" type="text" id="twonCity" class="form-control" />
        </div>

        <div class="mb-2 form-item">
          <label for="Phone">Phone <span class="text-danger">*</span></label>
          <input formControlName="phone" type="tel" id="Phone" class="form-control" />
        </div>


        <div class="mb-2 form-item">
          <label for="email">Email <span class="text-danger">*</span></label>
          <input formControlName="email" type="email" id="email" class="form-control" />
        </div>
        @if (billingForm.get('email')?.invalid && billingForm.get('email')?.touched) {
        <p class="text-danger">email not in format</p>
        }

        <div class="mb-2 form-item">
          <label for="postCode">Post Code </label>
          <input formControlName="postCode" type="text" id="postCode" class="form-control" />
        </div>

        <div class="mb-2 form-item">
          <label for="Order">Order Notes</label>
          <textarea formControlName="orderNotes" id="Order" class="form-control"></textarea>
        </div>
      </form>
      <p><span class="text-danger me-3">*</span> means fields required</p>
    </div>

    <div class="col-md-5 p-2 ">
      <div class="border border-3 border-light-subtle rounded-5 py-2 text-center">
        <div class="row  fs-3">
          <h6 class="fw-bold fs-4 main-blue">Your Orders</h6>
        </div>


        <section class=" m-2 shadow px-4 py-5 bg-light">
          <div class="row pb-2">
            <table class="table border-3">
              <thead>
                <th class="w-25">product</th>
                <th class="w-25">Qunatity</th>
                <th class="w-25">price</th>
              </thead>
              <tbody>
                @for (prod of cartItem; track $index) {
                <tr>
                  <td>{{prod.product.name}}</td>
                  <td>{{prod.quantity}}</td>
                  <td>{{prod.product.price}}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>

          <div class=" text-start">
            <p class="fw-medium"><span class="fw-bolder main-blue">TotalPrice :</span> {{checkoutRes.totalAmount | currency}}</p>
            <p class="fw-medium"><span class="fw-bolder main-blue"> delivery cost </span>30$</p>
            <p class="fw-medium"><span class="fw-bolder main-blue">TotalPrice after delivery : </span>{{checkoutRes.totalAmount+30 | currency}}</p>

          </div>

          <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">


            <div class="form-check mb-2">
              <label class="fs-5 fw-bolder ">Payment Method</label>
              <div class="  text-start">
                <div class="">
                  <label class="form-check-label">
                    <input type="radio" [value]=0 formControlName="paymentMethod" class="form-check-input" />
                    Direct Bank Transfer
                  </label>
                </div>
                <div class="">
                  <label class="form-check-label">
                    <input type="radio" [value]=1 formControlName="paymentMethod" class="form-check-input" />
                    Cash On Delivery
                  </label>
                </div>
       
              </div>
              @if (orderForm.get('paymentMethod')?.invalid && (orderForm.get('paymentMethod')?.touched ||
              orderForm.get('paymentMethod')?.dirty)) {
              <span>This field is required</span>
              }
            </div>
            <button type="submit" [disabled]="orderForm.invalid" class="btn btn-outline-primary w-100">Place
              Order</button>
          </form>
        </section>

      </div>

    </div>
  </div>

</section>
