<section class="container">
  <h2>Billing details</h2>
  <div class="row">
    <div class="col-md-8">

      <div class="mb-2 form-item">
        <label for="firstName">First Name :</label>
        <input formControlName="firstName" type="text" id="firstName" class="form-control"/>
      </div>

      <div class="mb-2 form-item">
        <label for="lastName">Last Name :</label>
        <input formControlName="lastName" type="text" id="lastName" class="form-control"/>
      </div>

      <div class="mb-2 form-item">
        <label for="companyName">Company Name :</label>
        <input formControlName="companyName" type="text" id="companyName" class="form-control"/>
      </div>

      <div class="mb-2 form-item">
        <label for="Country">Country :</label>
        <input formControlName="Country" type="text" id="Country" class="form-control"/>
      </div>

      <div class="mb-2 form-item">
        <label for="streetAddress">Street Address :</label>
        <input formControlName="streetAddress" type="text" id="streetAddress" class="form-control"/>
      </div>

      <div class="mb-2 form-item">
        <label for="twonCity ">Twon City :</label>
        <input formControlName="twonCity" type="text" id="twonCity" class="form-control"/>
      </div>

      <div class="mb-2 form-item">
        <label for="Phone">Phone :</label>
        <input formControlName="Phone" type="tel" id="Phone" class="form-control"/>
      </div>


    <div class="mb-2 form-item">
      <label for="email">Email :</label>
      <input formControlName="email" type="email" id="email" class="form-control"/>
    </div>



    <div class="mb-2 form-item">
      <label for="postCode">Post Code :</label>
      <input formControlName="postCode" type="text" id="postCode" class="form-control"/>
    </div>

    <div class="mb-2 form-item">
      <label for="Order">Order :</label>
      <input formControlName="Order" type="text" id="Order" class="form-control"/>
    </div>

    </div>
    <div class="col-md-3">

    </div>
  </div>

</section>
